@using SuiviWookies.Core.Models
@model City

<div class="row">

    <div class="col">
        @Model.Id
    </div>

    <div class="col">
        @Model.Label
    </div>

    <div class="col">
        @Model.BirthCout
    </div>

</div>